<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
        <files>
            <add value="views/index.html" />
        </files>
    </defaultDocument>
    <staticContent> 
    <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
    </staticContent>
  </system.webServer>
</configuration>